/* common shared styles */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


/* header related styles */
.header{
    background-color: rgba(229, 84, 115, 0.10);
}

/* banner related styles */
.banner{
    display: flex;
    align-items: center;
    padding: 30px 160px 0px 160px;
    justify-content: space-between;
}

.banner-content{
    max-width: 500px;
}
.banner-greeting{
    color: #272727;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 0px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    margin-top: 5px;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    color: white;
    border: 0px;
    font-size: 13px;
    font-weight: 300;
    padding: 12px 25px;
}
.banner .profile-picture{
    width: 500px;
}

/* featured flowers section styles */
.section-title{
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 0px;
}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    margin-top: 10px;
}

/* photos featured related styles */
.featured-image-container{
    margin-right: 160px;
    margin-left: 160px;
    margin-top: 48px;
}
.background-style{
    display: flex;
    gap: 24px;
}
.background1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 76px;
}
.background2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px 47px;
}
.background3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px 75px;
}
.text-underline{
    text-decoration: underline;
    display: flex;
    gap: 307px;
    padding: 15px 187px 128px 187px;
    justify-content: space-around;
  }

  .service-container{
    /* width: 1440px; */
    height: 250px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    margin: 0px 160px 128px 160px;
    justify-content: space-around;
  }